body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.welcome{
    color: rgb(223, 138, 11);
    font-size: 60px;

}
.alamin{
    color: rgb(114, 101, 6);
    font-size: 50px;
}
.web{
    color: darkturquoise
}
.container{
    width: 50%;
    padding-right: 10%;
    padding-left: 40px;
    padding-top: 30px;
}
.images img{
    width: 80%;
    
}
.link{
    text-decoration: none;
    background-image: linear-gradient(red, orange);
    color: cornsilk;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
.section1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    font-size: 40px;
    color: rgb(255, 0, 128);
}
.dream2{
    color: rgb(243, 9, 138);
}
.container2{
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 10ox;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.p{
    padding-right: 200px;
}
.container1{
    box-shadow: 10px 10px 50px rgb(46, 11, 30);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-radius: 10px;
    border-left: 10px solid;
}
#border{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.section3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(38, 0, 255), cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
h2{
    font-size: 40px;
}
.por{
    color: darkturquoise;
}
.h1{
    padding-left: 40px;
}